doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title comp.name
  // Bootstrap CSS CDN
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  // Our Custom CSS
  link(rel='stylesheet', href='../style.css')
  // Font Awesome JS
  script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js', integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ', crossorigin='anonymous')
  script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js', integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY', crossorigin='anonymous')
nav#sidebar
  button#sidebarCollapse.navbar-btn(type='button')
    i#icon.fa.fa-chevron-left
  h3.my-4.pl-2 VUE JSDOC PARSE
  -var fileName = baseNoExt
    include includes/sidebar.pug
.wrapper
  #content.primary-dark-text
    .container.mt-4
      h3=script[0].meta.filename
        each item in script
          h5.pt-2.primary-tex
            | #{item.name}
          .py-2
            p Kind: #{item.kind}
          if item.params && item.params.length
            div @params
              each param in item.params
                div
                  span
                    | #{param.name} 
                    each name in param.type.names
                      span.primary-text {#{name}} |
                  p=param.description 

          if item.returns
            div @return
            each singleReturn in item.returns
              div
                span
                  | #{singleReturn.name}
                each name in singleReturn.type.names
                  span.primary-text {#{name}} |
                p=singleReturn.description          
          hr
      
// jQuery CDN - Slim version (=without AJAX)
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
// Bootstrap JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
script(type='text/javascript').
  $(document).ready(function () {
  $('#sidebarCollapse').on('click', function () {
  $('#sidebar').toggleClass('active');
  $('#content').toggleClass('active');
  $(this).toggleClass('active');
  });
  });
